<?xml version="1.0" encoding="utf-8"?>
<!--
  Web config file minified by Hewbhurt Gabon.
  http://www.hewbhurtgabon.com
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     -->
  </configSections>
  
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=tcp:sql2k1202.discountasp.net;AttachDbFilename=|DataDirectory|\aspnet-DFWGraniteAdmin2014-20140812112338.mdf;Initial Catalog=SQL2012_912661_dfwgranite;User ID=SQL2012_912661_dfwgranite_user;Password=;"
      providerName="System.Data.SqlClient" />-->
    <add name="DFW_DB_Connection" connectionString="Data Source=tcp:sql2k1202.discountasp.net;Initial Catalog=SQL2012_912661_dfwgranite;User ID=SQL2012_912661_dfwgranite_user;Password=******;" providerName="System.Data.SqlClient" />
    <add name="DFW_ACCDB_Connection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\WebAppDatabase.accdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="GoogleCalendarApplicationClientID" value="18000002748.apps.googleusercontent.com" />
    <add key="GoogleCalendarApplicationClientSecret" value="*******7a9Yf0Kq9gwLdQwB1" />
    <add key="GoogleReturnPageAddress" value="http://www.granitesouthlake.com/admin/Default.aspx" />
    <add key="GoogleInstallCalendarID" value="*********ai9mep5blrh49skc@group.calendar.google.com" />
    <add key="GoogleDhitt0327Password" value="*******" />    
    
    <add key="yourKey1" value="yourValue1" />
    <add key="yourKey2" value="yourValue2" />
  </appSettings>
  
  <system.web>

    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" path="/" loginUrl="/admin2014/Login.aspx" defaultUrl="/admin2014/admin" timeout="30" cookieless="UseCookies" enableCrossAppRedirects="true" requireSSL="false" />
    </authentication>
    <machineKey validationKey="4742D90DFF3838AF111D3A893E88D3BA4E46B084A62A2C0B2F881F637339A0FD93028A1CA44FC7E71D780BF3464629FA3814DEF1277F343C22C*************" decryptionKey="2F5FBAF5F94F510D5D4671AC37069921E28263A7173BF5AAA4EAA*********" validation="SHA1" decryption="AES" />
    
    <compilation debug="true" targetFramework="4.5">
      <codeSubDirectories>
				<add directoryName="CSharp" />
				<add directoryName="VB" />
			</codeSubDirectories>
    </compilation>
    
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
      <remove name="FormsAuthenticationModule" />
    </modules>
    
    <handlers>
      <remove name="WebDAV" />
    </handlers>
      <directoryBrowse enabled="false" />
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  

  <!--<location path="admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>-->

</configuration>